<div class="modal-header">
    <h3>{{ vm.properties.title }}</h3>
</div>
<div class="modal-body">
    <div class="row form-group">
        <div class="model-controls col-md-6">
            <button class="btn btn-primary" ng-click="vm.ok()">Save</button>
            <button class="btn btn-default" ng-click="vm.cancel()">Cancel</button>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-2">
            Location Name
        </div>
        <div class="col-md-6">
            <input class="form-control" type="text" ng-model="vm.location.name" required/>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-2">
            Address
        </div>
        <div class="col-md-6">
            <input class="form-control" type="text" ng-model="vm.location.address" required/>
        </div>
    </div>
    <ui-gmap-google-map center='vm.map.center' zoom='vm.map.zoom'></ui-gmap-google-map>
</div>
