<div>
    <h2 class="page-title">Leagues</h2>

    <table class="table table-bordered table-hover table-striped">
        <thead>
        <tr>
            <th>League Name</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <input type="text" class="form-control" placeholder="New League Name" ng-model="vm.newLeagueName">
            </td>
            <td>
                <button type="submit" class="btn btn-primary" ng-click="vm.addItem()"
                        tooltip="Click here to add new league" tooltip-placement="left">
                    <span class="glyphicon glyphicon-plus"></span> Add
                </button>
            </td>
        </tr>

        <tr ng-repeat="league in vm.leagues">
            <td ng-hide="vm.currentEdit[league.id]">{{league.name}}</td>
            <td ng-show="vm.currentEdit[league.id]">
                <input type="text" class="form-control" ng-model="vm.currentEdit.name"/>
            </td>

            <td>
                <div class="btn-group" uib-dropdown>
                    <button class="btn btn-success dropdown-toggle" uib-dropdown-toggle type="button">
                        Action <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a ng-href="#/leagues/{{league.id}}">Configure</a></li>
                        <li><a ng-click="vm.editItem(league)">Edit</a></li>
                        <li><a ng-click="vm.deleteItem(league.id)">Delete</a></li>
                    </ul>
                </div>

                <button class="btn btn-success" ng-click="vm.saveItem(league)" ng-show="vm.currentEdit[league.id]">
                    Save
                </button>
                <button class="btn btn-danger" ng-click="vm.cancelEdit(league.id)" ng-show="vm.currentEdit[league.id]">
                    Cancel
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>