<div>
    <h2>Games Calendar</h2>
    <uib-tabset>
        <uib-tab ng-repeat="tab in vm.tabs" heading="{{tab.text}}"
                 active="tab.active" ng-click="vm.go(tab.state)"></uib-tab>
    </uib-tabset>
    <br/>
    <div class="row">
        <div class="col-md-4">
            <label class="btn btn-primary" ng-click="vm.addNewGame()">Add New Game</label>
        </div>
    </div>
    <div id="games-calendar" class="row">
        <div ui-calendar="vm.calendarConfig" ng-model="vm.gameEvents" calendar="calendar"></div>
    </div>
</div>